{% extends 'base.html.twig' %}

{% block body %}
    {{ course.name }}
    {{ form_start(formCourse) }}
    {{ form_widget(formCourse) }}
    <button class="btn btn-primary btn-sm">Sauvegarder</button>
    {{ form_end(formCourse) }}
{% endblock %}

{% block title %}
    Modification du cours | {{ parent() }}
{% endblock %}

