{% extends 'base.html.twig' %}

{% block title %}Tous les cours | {{ parent() }}{% endblock %}

{% block body %}
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Durée (jours)</th>
                <th>Catégorie</th>
                <th>Formateurs</th>
                <th>Publié</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td><a href="{{ path('course_show', {id: course.id}) }}">{{ course.name }}</a> </td>
                <td>{{ course.duration }}</td>
                <td>{{ course.category.name }}</td>
                <td>
                    {% if is_granted('ROLE_PLANNER') %}
                        <a href="{{ path('course_trainers', {id: course.id}) }}">{{ course.trainers | length }} formateurs</a>
                    {% else %}
                        {{ course.trainers | length }} formateurs
                    {% endif %}

                </td>
                <td>{{ course.published ? 'Oui' : 'Non' }}</td>
                <td>{{ course.dateCreated | date('d-m-Y') }}</td>
                <td><a href="{{ path('course_edit', {'id' : course.id}) }}">Modifier</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
