{% extends 'base.html.twig' %}

{% block body %}
Afficher détails de cours
    <dl>
        <dt>Titre</dt>
        <dd>{{ course.name }}</dd>
        <dt>Durée</dt>
        <dd>{{ course.duration }}</dd>
        <dt>Description</dt>
        <dd>{{ course.content | nl2br }}</dd>
        <dt>Date Création</dt>
        <dd>{{ course.dateCreated | format_datetime(pattern="EEEE dd MMMM YYYY '-' hh a m 'minutes'", locale='fr') | capitalize}}</dd>
        <dd>{{ course.dateCreated | date('d/m/y H:i')}}</dd>

        <dt>Catégorie</dt>
        <dd>{{ course.category.name }}</dd>
        <dt>Liste des formateurs</dt>
        <dd>
            <ul>
                {% for trainer in course.trainers %}
                 <li>{{ trainer.firstname }} {{ trainer.lastname }}</li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
    {% if course.filename %}
        <div class="my-5" style="width: 400px; height: 400px;">
            <img style="width: 100%; height: 100%; " src="{{ asset('uploads/files/'~course.filename) }}" alt="{{ course.name }}">
        </div>
    {% endif %}
    <div>
        {% if app.user == course.user %}
            <a href="{{ path('course_edit', {'id': course.id}) }}" class="btn btn-primary">Modifier</a>
        {% endif %}
        {% if app.user == course.user or is_granted('ROLE_ADMIN') %}
            <a href="{{ path('course_delete', {'id': course.id, 'token': csrf_token('delete-token-'~course.id)}) }}" class="btn btn-danger">Supprimer</a>
        {% endif %}

    </div>
{% endblock %}

{% block title %}
{{ course.name}} | {{ parent() }}
{% endblock %}

